body{
        background-color: black;
	text-align: left;
        margin: 25px;
        border-style: solid;
        border-width: 5px;
        color: white;
}
p {
        background-color: MediumSpringGreen;
	padding: 10px;
	font: 20px/20px Times New Roman;
        color: MidnightBlue;
}
/*from http://www.w3schools.com/css/css_form.asp*/
input:focus {
        background-color: PaleGoldenRod;
}

input {
    border: none;
    border-bottom: 2px solid Peru;
    padding: 10px;
    margin: 5px;
}

/* unvisited link */
a:link {
    color: PowderBlue;
}

/* visited link */
a:visited {
    color: Orchid;
}

/*<link rel="stylesheet" type="text/css" href="mewstories.css"/> this is the link
 *to use if you want to add this style sheet as a header